/* 
KELOMPOK 1 :

1. ANDRE TRI HARIYANTO
2. JALAUDIN AHMADI
3. MUHAMMAD MICO FERDIAN
4. ZAENAL ARIFIN
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Open Sans', sans-serif;
}
.titleAbout h1,.subFeatures h1,.Quotes_1 h1,.titleSubscribe h1 {
	font-size: 54px;
	font-weight: 400;
	letter-spacing: 3px;
}
.titleAbout h3,.subFeatures h3,.titleSubscribe h3 {
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 2px;
}
/*
=========================
 BAGIAN NAVBAR
=========================
*/

header {
	padding: 9px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9999;
	position: fixed;
	top: 0;
	width: 100%;
}
header .navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
}
.navbar nav ul {
	display: flex;
}
.navbar .logo {
	font-size: 24px;
	color: #fff;
	margin: 10px 107px;
	letter-spacing: 0.1em;
}
.navbar nav ul li a {
	color: #fff;
	display: block;
	padding: 10px 20px;
	margin: 10px 10px;
	font-size: 12px;
	letter-spacing: 0.1em;
}
.navbar nav ul li a.activeLi {
	color: #FFB548;
}
.signUpLogin {
	margin-right: 97px;
	font-weight: bold;
}
.signUpLogin a, .signUpLogin_1 a {
	margin: 0 10px;
	color: #fff;
	font-size: 12px;
	letter-spacing: 0.1em;
}
.signUpLogin_1 {
	display: none;
}
.hamberger {
	display: none;
	flex-direction: column;
	height: 20px;
	justify-content: space-between;
	position: relative;
	margin-right: 97px;
}
.hamberger input{
	position: absolute;
	height: 28px;
	width: 40px;
	opacity: 0;
	left: -5px;
	top: -3px;
	cursor: pointer;
}
.hamberger span{
	display: block;
	width: 35px;
	height: 5px;
	background-color: #fff;
	border-radius: 3px;
	transition: all 0.5s;
}
/* membuat animasi hamberger*/
.hamberger span:nth-child(2){
	transform-origin: 9% 1px;
}
.hamberger span:nth-child(4){
	transform-origin: 28% 100%;
}
.hamberger input:checked ~ span:nth-child(2){
	background: linear-gradient(#FFB548, #F3AF34);
	transform: rotate(45deg);
}
.hamberger input:checked ~ span:nth-child(4){
	background: linear-gradient(#FFB548, #F3AF34);
	transform: rotate(-45deg);
}
.hamberger input:checked ~ span:nth-child(3){
	transform:scale(0);
	opacity: 0;
}
.tambahan {
	width: 100%;
	height: 6px;
	background-color: rgba(0, 0, 0, 0.1);
	margin-top: -8px;
}
/*
===================================
 BAGIAN JUMBOTRON 
==================================
*/

.jumbotron {
	width: 100%;
	height: 960px;
	background: url('images/bg/bg1.png');
	background-size: cover;
}
.titleJumboton {
	padding-top: 313px;
	text-align: center;
	font-family: Arial;
}
.titleJumboton h1 {
	font-size: 70px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 3px;
}
.titleJumboton h3 {
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	margin: 57px 0;
}
.buttonJumbotron button {
	display: block;
	margin: 0 auto;
	padding: 20px 70px;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	border: none;
	background: linear-gradient(#FFB548, #F3AF34);
	border-radius: 4px;
	cursor: pointer;
}
.scrollJumbotron {
	text-align: center;
	margin-top: 290px;
}
.scrollJumbotron a {
	font-size: 12px;
	color: #fff;
}
.login, .signup {
	width: 100%; 
	height:100vh; 
	position: fixed; 
	top: 0; 
	display: flex; 
	justify-content: center;
	align-items: center; 
	color: #fff; 
	background-color:rgba(0, 0, 0, 0.5); 
	z-index: 9999;
	display: none;
}
.boxLogin, .boxsignUp {
	width: 400px;  
	background-color: rgba(0, 0, 0, 0.7);
	padding: 20px 10px;
	text-align: center;
	border-radius: 4px;
	position: relative;
}
.animaLogin, .animaSignUp {
	animation: animalogin .3s forwards;
}
@keyframes animalogin {
	0% {
		margin-top: -50px;
	}
	100% {
		margin-top: 0px;
	}
}
.boxLogin h1, .boxsignUp h1 {
	position: absolute;
	right: 10px;
	top: -5px;
	cursor: pointer;
	transform: rotate(45deg);
}
.boxLogin h1:hover, .boxsignUp h1:hover {
	color: #F3AF34;
}
.boxLogin input, #login, .boxsignUp input,#login {
	display: block;
	margin: 10px auto;
	width: 100%;
	padding: 10px 0;
	border: none;
	border-radius: 4px;
	text-align: center;
	font-size: 15px;
}
.boxLogin #login, .boxsignUp #login {
	background: linear-gradient(#FFB548, #F3AF34);
	cursor: pointer;
}
.boxLogin input:focus, .boxsignUp input:focus {
	outline: none;
}
.boxLogin input:focus::placeholder, .boxsignUp input:focus::placeholder {
	color: #F3AF34;
}
.boxLogin a, .boxsignUp a  {
	color: #F3AF34;
	text-decoration: underline;
}
/*
================================
 BAGIAN MAIN CONTENT 
================================
*/

.about {
	width: 100%;
	height: 1000px;
	background: url('images/bg/bg image 2.png');
	background-size: cover;
	color: #fff;
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.about:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1000px;
	top: 0;
	left: 0;
	background: radial-gradient(rgba(255, 255, 255, 0) 0%,rgba(0, 0, 0, 0.7) 0%,#080A0B 99.74%);
}
.titleAbout {
	position: relative;
	margin: 0 116px;
	top: -160px;
}
.swiper {
  width: 600px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 400px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper-pagination-bullet {
	width: 15px;
	height: 15px;
	background-color: #FFB548;
	border: 2px solid #fff;
	border-radius: 50%;
}
.swiper-button-prev, .swiper-button-next {
	color: #FFB548;
}
/*
=====================================
 BAGIAN FEATURES 
=====================================
*/

.mainFeatures {
	width: 100%;
	height: 870px;
	background: url('images/bg/bg image 3.png');
	background-size: cover;
	position: relative;
	color: #fff;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.mainFeatures:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 879px;
	background: radial-gradient(rgba(255, 255, 255, 0) 0%,	rgba(0, 0, 0, 0) 19.2%,	rgba(4, 5, 6, 0.7) 47.48%,	#080A0B 99.74%);
}
.subFeatures {
	position: relative;
	margin-top: -10rem;
}
.featuresTimeLine {
	margin-top: 4rem;
}
.featuresTimeLine h1{
  font-size: 1.1rem;
  font-family: sans-serif;
}
.sessionsTImeLine{
  margin-top: 2rem;
  border-radius: 12px;
  position: relative;
}
.featuresTimeLine li{
  padding-bottom: 1.5rem;
  border-left: 1px solid #ffff;
  position: relative;
  padding-left: 30px;
  margin-left: 10px;
}
.featuresTimeLine li:last-child{
    border: 0px;
    padding-bottom: 0;
}
.featuresTimeLine li:before{
    content: '';
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid #4e5ed3;
    box-shadow: 3px 3px 0px #bab5f8;
    box-shadow: 3px 3px 0px #bab5f8;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
  }
.timeLine{
  color: #FFB548;
  font-weight: 500;
  position: relative;
  font-size: 24px;
}
.featuresTimeLine p{
  color: #ffff;
  font-family: sans-serif;
  line-height: 1.5;
  margin-top:0.4rem;
  width: 70%;
  font-size: 18px;
}
/*
========================================
 BAGIAN SYST_REQ 
========================================
*/

.mainSyst_req {
	width: 100%;
	height: 960px;
	background: url('images/bg/bg image 4.png');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.mainSyst_req:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 969px;
	background: radial-gradient(rgba(255, 255, 255, 0) 3.36%,	rgba(0, 0, 0, 0.3) 19.22%,	#080A0B 99.74%);
}
.subSyst_req {
	width: 100%;
	position: relative;
	color: #fff;
	margin: 0 107px;
}
.subSyst_req h3 {
	font-size: 24px;
	font-weight: 400;
	text-align: center;
}
.subSyst_req h1 {
	font-size: 54px;
	font-weight: 400;
	letter-spacing: 3px;
	margin: 56px 0;
}
.subSyst_req th {
	font-weight: 400;
	color: #FFB548;
	font-size: 24px;
}
.subSyst_req span {
	font-size: 14px;
}
.subSyst_req table, td, th {
	border: 0.1px solid #979797;
	border-collapse: collapse;
	padding: 25px 5px;
}

/*
===============================
BAGIAN QOUTES
===============================
*/

.mainQoutes {
	width: 100%;
	height: 960px;
	background: url('images/bg/bg image 5.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.mainQoutes:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 960px;
	background: radial-gradient(rgba(35, 15, 15, 0) 0%,	rgba(0, 0, 0, 0) 51.1%,	#080A0B 99.74%);
}
.Quotes_1, .Quotes_2 {
	position: relative;
}
.Quotes_1 p {
	font-size: 18px;
	width: 75%;
}
.Quotes_1 button {
	margin: 40px 0;
	padding: 20px 70px;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	border: none;
	background: linear-gradient(#FFB548, #F3AF34);
	border-radius: 4px;
	cursor: pointer;
	position: relative;
}
.cardQ {
	display: grid;
	grid-template-columns: auto;
}
.cardQ .card_1,.cardQ .card_2, .cardQ .card_3 {
	width: 450px;
	padding: 20px 0;
	background-color: #FFFFFF14;
	margin: 29px 0;
	border-radius: 10px;
}
.cardQ .card_2 {
	transform: translateX(-140px);
}
.subCard_1 {
	display: flex;
	justify-content: space-between;
}
.cardQ .card_3 {
	transform: translateX(-25px);
}
.subCard_1 svg {
	opacity: 30%;
	margin: 31px 19px;
}
.imgCard_1 {
	display: flex;
	align-items: center;
	margin: 15px 0;
}
.imgCard_1 img {
	border-radius: 50%;
	box-shadow: 5px 5px 0px #FFB548;
	margin: 0 20px;
}
.subCard_1_title h3 {
	font-size: 24px;
	font-weight: 400;
	color: #FFB548;
	letter-spacing: 2px;
}
.subCard_1_title p {
	font-size: 18px;
	font-weight: 400;
	opacity: .5;
}
.subCard_2 {
	margin: 15px 21px;
}
.subCard_2 h4 {
	font-size: 18px;
	font-weight: 400;
}
.subCard_2 p {
	font-size: 14px;
	font-weight: 400;
	opacity: .5;
	margin: 8px 0;
}

/*
=================================
BAGIAN Subscribe footer
=================================
*/
.mainFooterSubscribe {
	width: 100%;
	position: relative;
	top: -1px;
	background-color: #080A0B;
}
.mainSubscribe {
	color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.imgSubscribe {
	position: relative;
}
.imgSubscribe:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 415px;
	height: 650px;
	background: radial-gradient(rgba(255, 255, 255, 0) 0%,	rgba(0, 0, 0, 0.3) 46.15%,#080A0B 99.74%);
}
.titleSubscribe {
	width: 47%;
}
.titleSubscribe p {
	font-size: 18px;
	font-weight: 400;
}
.btnSubscribe input {
	padding: 20px 60px;
	border-radius: 4px;
	color: #FFB548;
	background-color: rgba(255, 255, 255, 0.08);
	border: none;
	font-size: 18px;
}
.btnSubscribe button {
	margin: 40px 17px;
	padding: 19px 50px;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	border: none;
	background: linear-gradient(#FFB548, #F3AF34);
	border-radius: 4px;
	cursor: pointer;
}
.mainFooter {
	margin-top: 59px;
}
.aboutSosmedFooter {
	margin: 10px 120px;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	padding: 0 40px;
}
.aboutFooter ul, .sosmedFooter ul {
	display: flex;
}
.aboutFooter ul li a, .sosmedFooter ul li a {
 	display: block;
 	margin: 20px 25px;
	color: #fff;
}
.copyrightPrivacy {
	display: flex;
	justify-content: space-around;
	color: #fff;
	padding: 24px 0;
}
.copyrightPrivacy p {
	font-size: 14px;
	color: rgba(255, 255, 255,0.5);
}
.copyrightPrivacy p:last-child {
	font-size: 16px;
	color: #fff;
}

/* 
=================================================
BAGIAN RESPONSIVE
=================================================
 */

@media screen and (max-width: 1200px) {
/*
=========================
 BAGIAN NAVBAR
=========================
*/
 	header {
 		padding: 20px 0;
 	}
 	.signUpLogin {
 		display: none;
 	}
 	.signUpLogin_1, .hamberger {
 		display: flex;
 	}
 	.navbar nav {
 		position: absolute;
		left: 0;
		width: 75%;
		height: 100vh;
		justify-content: space-evenly;
		top: 0;
		flex-direction: column;
		align-items: center;
		background-color: rgba(0, 0, 0,0.8);
		transition: .2s;
		transform: translateX(-100%);
		opacity: 0;
 	}
 	.navbar nav.active {
 		opacity: 1;
		transform: translateX(0);
		z-index: 999;
 	}
 	.navbar nav ul {
		flex-direction: column;
		margin-top: 40px;
	}
 	.navbar nav ul li a, .signUpLogin_1 a {
		display: block;
		margin: 20px 0;
		padding: 20px 20px;
		color: #fff;
		font-size: 16px;
	}
	.navbar nav ul li a:hover,.signUpLogin_1 a:hover, .navbar nav ul li a.activeLi {
		background: linear-gradient(#FFB548, #F3AF34);
		color: #fff;
	}

	.signUpLogin_1 a {
 		border: 1px solid #FFB548;
 		margin: 0 10px;
 		padding: 10px 20px;
 		border-radius: 4px;
 	}
	.swiper-slide, .swiper {
		width: 500px;
		height: 400px;
	}
	.cardQ .card_1,.cardQ .card_2, .cardQ .card_3 {
		width: 350px;
	}
}
@media screen and (max-width: 992px) {
	/* BAGIAN JUMBOTRON */
 	.titleJumboton h1 {
 		font-size: 55px;
 	}
 	/* BAGIAN MAIN CONTENT  */
 	.about {
 		flex-direction: column;
 		align-items: center;
 	}
 	.swiper-slide, .swiper {
 		margin-top: -9rem;
 		width: 690px;
		height: 400px;
 	}
 	.titleAbout {
 		top: 0px;
 		margin-top: 100px;
 		text-align: center;
 	}
 	/* BAGIAN FEATURES */
 	.mainFeatures, .aboutSosmedFooter {
 		justify-content: center;
 	}
 	.mainFeatures:before {
 		background: radial-gradient(rgba(255, 255, 255, 0) 0%,	rgba(0, 0, 0, 0) 0%,	rgba(4, 5, 6, 0.6) 0%,	#080A0B 99.74%);
 	}
 	.subFeatures h3, h1 {
 		margin: 0 10px;
 		text-align: center;
 	}
 	.featuresTimeLine {
 		margin-left: 20px;
 	}
 	.featuresTimeLine p {
 		width: 90%;
 	}
 	/* BAGIAN SYSTEM */
 	.mainSyst_req {
 		justify-content: center;
 		text-align: center;
 	}
 	.titleAbout h1,.subFeatures h1,.Quotes_1 h1,.titleSubscribe h1,.subSyst_req h1 {
		font-size: 43px;
		font-weight: 400;
		letter-spacing: 3px;
	}
	.titleAbout h3, .subFeatures h3, .subSyst_req h3 {
		margin: 20px 0;
		font-size: 18px;
	}
	/* BAGIAN SUBSCRIBE AND FOOTER */
	.btnSubscribe button,.btnSubscribe input {
		margin: 10px 0;
	}
}
@media screen and (max-width: 810px) {
	/* BAGIAN HEADER NAVBAR */
 	.navbar .logo , .hamberger {
 		margin: 10px 20px;
 	}
 	/* BAGIAN JUMBOTRON */
	.scrollJumbotron {
		margin-top: 230px;
	}
	.swiper-slide, .swiper {
 		margin-top: -4rem;
 		width: 550px;
		height: 400px;
 	}
 	.swiper-pagination {
 		top: 410px;
 	}
 	.swiper-button-prev, .swiper-button-next {
 		margin-top: -5rem;
 	}
 	.titleAbout h1,.subFeatures h1,.Quotes_1 h1,.titleSubscribe h1,.subSyst_req h1 {
		font-size: 54px;
		font-weight: 400;
		letter-spacing: 3px;
	}
	.titleAbout h3, .subFeatures h3, .subSyst_req h3 {
		margin: 20px 0;
		font-size: 24px;
	}
	/* BAGIAN Quotes */
	.Quotes_1 {
		text-align: center;
	}
	.Quotes_1 p, .titleAbout {
		width: 100%;
	}
	.cardQ {
		grid-template-columns: auto auto;
		grid-row-gap: 20px;
		grid-column-gap: 1px;
	}
	.cardQ .card_1,.cardQ .card_2, .cardQ .card_3 {
		width: auto;
		margin: 0 20px;
	}
	.cardQ .card_2,.cardQ .card_3 {
		transform: translateX(0);
	}
	.mainQoutes,.mainSubscribe {
		flex-direction: column;
		align-items: center;
		padding: 90px 0;
	}
	/* BAGIAN SUBSCRIBE AND FOOTER */
	.titleSubscribe {
 		width: auto;
 		text-align: center;
 		margin: 80px 0;
 	}
 	.titleSubscribe p {
 		margin: 20px 20px;
 	}
 	.btnSubscribe button {
 		padding: 19px 30px;
 		margin: 0 10px;
 	}

}
@media screen and (max-width: 730px) {
	.cardQ {
		grid-template-columns: auto;
		grid-row-gap: 20px;
		grid-column-gap: 1px;
	}
}
@media screen and (max-width: 576px) {
	/* BAGIAN JUMBOTRON */
	.titleJumboton h1 {
		font-size: 45px;
	}
	.boxLogin, .boxsignUp {
		margin: 0 10px;
	}
	/* BAGIAN MAIN CONTENT */
	.swiper-slide, .swiper {
 		width: 340px;
		height: 400px;
 	}
 	.swiper-button-prev, .swiper-button-next {
 		display: none;
 	}
 	.titleAbout h1,.subFeatures h1,.Quotes_1 h1,.titleSubscribe h1,.subSyst_req h1 {
 		font-size: 35px;
 	}
 	.titleJumboton h3 {
 		font-size: 18px;
 	}
 	.titleAbout h3, .subFeatures h3, .subSyst_req h3 {
		margin: 20px 0;
		font-size: 18px;
	}
	.subFeatures {
		margin-top: -8rem;
	}
	/* BAGIAN QOUTES */
 	.mainQoutes {
 		padding: 90px 0;
 	}
 	.Quotes_1 {
 		margin: 30px 0;
 	}
 	.cardQ .card_1,.cardQ .card_2, .cardQ .card_3 {
 		margin: 0 10px;
 	}
 	.Quotes_1 button {
 		margin: 20px 0;
 		padding: 10px 20px;
 	}
 	.subCard_1 {
 		margin: -10px 0;
 	}
 	.subCard_1_title h3 {
 		letter-spacing: 0;
 	}
 	/* BAGIAN SUBSCRIBE AND FOOTER */
 	.mainFooter {
 		margin-top: 0px;
 	}
 	.aboutFooter ul {
 		display: block;
 	}
 	.sosmedFooter ul {
 		display: flex;
 	}
 	.aboutSosmedFooter {
 		flex-direction: column;
 		margin: 10px 10px;
 		padding: 0 0;
 	}
 	.copyrightPrivacy {
 		flex-direction: column;
 		text-align: center;
 	}
 	.copyrightPrivacy p {
 		margin: 10px 0;
 	}
 	.titleSubscribe {
 		margin: 20px 10px;
 	}
 	.imgSubscribe img, .imgSubscribe:before {
		width: 330px;
		height: 600px;
	}
 	.btnSubscribe button {
 		display: block;
 		margin: 10px auto;
 		width: 100%;
 		padding: 10px 0;
 	}
 	.btnSubscribe input {
 		text-align: center;
 		width: 100%;
 		padding: 20px 0;
 	}
 	.subSyst_req {
 		margin: 0 10px;
 	}

}
